{% extends '::base.html.twig' %}

{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}

{% block content %}

    {#<div class="jumbotron">#}
        {#<h2>Task Management service</h2>#}
        {#<p class="lead">Add tasks, deadlines and deliver everything on time! It is super easy!</p>#}
        {#<button type="button" class="btn btn-lg btn-success" onclick="location.href='{{ path('task_new') }}'">Add task#}
        {#</button>#}
    {#</div>#}

    <h3>All your tasks</h3>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Status</th>
                <th{% if pagination.isSorted('a.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                <th{% if pagination.isSorted('a.Deadline') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Deadline', 'a.deadline') }}</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    {% if entity.markedResolved == false %}
                        <td align="center"><a href="{{ path('task_resolved', { 'id': entity.id }) }}"><span
                                        class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></a></td>
                    {% else %}
                        <td align="center"><a href="{{ path('task_show', { 'id': entity.id }) }}"><span
                                        class="glyphicon glyphicon-check" aria-hidden="true"></span></a></td>
                    {% endif %}
                    <td>
                        <a href="{{ path('task_show', { 'id': entity.id }) }}">
                            {{ entity.name }}
                        </a>
                        <section class="taskdetails">
                            <dl>
                                <dt class="label label-info">Details</dt>
                                <dd><br>
                                    <ul class="list-group">
                                        <li class="list-group-item">"{{ entity.description }}"</li>
                                        {% if entity.priority == 0 %}
                                            <li class="list-group-item">Priority: Low</li>
                                        {% elseif entity.priority == 1 %}
                                            <li class="list-group-item">Priority: Medium</li>
                                        {% elseif entity.priority == 2 %}
                                            <li class="list-group-item">Priority: High</li>
                                        {% endif %}
                                        <li class="list-group-item">
                                            Created: {% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d') }}{% endif %}
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </section>
                    </td>
                    <td>{% if entity.deadline %}{{ entity.deadline|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.category }}</td>
                    <td>
                        <ul class="nav">
                            {% if entity.markedResolved == false %}
                                <li>
                                    <a href="{{ path('task_resolved', { 'id': entity.id }) }}">Resolve the task</a>
                                </li>
                                <li>
                                    <a href="{{ path('task_edit', { 'id': entity.id }) }}">Edit the task</a>
                                </li>
                            {% else %}
                            {% endif %}
                            <li>
                                <a href="{{ path('comment_new', { 'id': entity.id }) }}">Add comment</a>
                            </li>
                            <li>
                                <section class="taskdetails">
                                    <dl>
                                        <dt class="badge">Show all comments [{{ entity.comments|length }}]</dt>
                                        <dd>
                                            {% for comment in entity.comments %}
                                                <br>
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.comment }}</a>
                                                    </div>
                                                    <div class="panel-footer">
                                                        Created: {{ comment.creationDate|date('Y-m-d') }}
                                                        by {{ comment.user }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </dd>
                                    </dl>
                                </section>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <br>
    </div>

{% endblock %}
