{% extends '::base.html.twig' %}

{% block topmenu %}
    {% include 'TaskMngBundle::topmenu_logged.html.twig' %}
{% endblock %}

{% block content %}

    <h3>Task name: {{ entity.name }}</h3>
    <div>
        <table class="table">
            <tbody>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                {% if entity.priority == 0 %}
                    <td>Low</td>
                {% elseif entity.priority == 1 %}
                    <td>Medium</td>
                {% elseif entity.priority == 2 %}
                    <td>High</td>
                {% endif %}
            </tr>
            <tr>
                <th>Created date</th>
                <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% if entity.markedResolved == false %}
                <tr>
                    <th>Resolved?</th>
                    <td>Not resolved
                        <a class="btn btn-xs btn-primary" href="{{ path('task_resolved', { 'id': entity.id }) }}">Done!</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th>Resolved?</th>
                    <td>Yes</td>
                </tr>
                <tr>
                    <th>Resolved date</th>
                    <td>{{ entity.resolvedDate|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Deadline</th>
                <td>{{ entity.deadline|date('Y-m-d H:i:s') }}</td>
            </tr>
            </tbody>
        </table>
    </div>

<ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            <button type="button" class="btn btn-sm btn-success" onclick="location.href='{{ path('task') }}'">
                Back to
                the list
            </button>
        </li>
        {% if entity.markedResolved == false %}
            <li role="presentation">
                <button type="button" class="btn btn-sm btn-success"
                        onclick="location.href='{{ path('task_edit', { 'id': entity.id }) }}'">
                    Edit the task
                </button>
            </li>
        {% else %}
        {% endif %}
        <li role="presentation">
            <button type="button" class="btn btn-sm btn-success"
                    onclick="location.href='{{ path('comment_new', { 'id': entity.id }) }}'">
                Add a comment
            </button>
        </li>
        <li>
            {{ form(delete_form) }}
        </li>
    </ul>

    <br>

    <h3>List of all comments:</h3>
    {% for comment in entity.comments %}
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.comment }}</a>            </div>
            <div class="panel-footer">Created: {{ comment.creationDate|date('Y-m-d H:i:s') }} by {{ comment.user }}</div>
        </div>
    {% endfor %}

{% endblock %}
